.Join{
    display: flex;
    padding:  0 2rem;
    gap: 10rem;
    margin-bottom: 5rem;
}

.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-j>hr{
  position: absolute;
  width: 7.5rem;
  border: 5.1rem solid rgb(223, 128, 12);
  border-radius: 8rem;
  margin: -10rem -3.5rem;
}
.left-j>div{
    display: flex;
    gap: 1rem;
    width: 3rem;
}

.right-j{
    display: flex;
    justify-content: center;
    margin-top: 2.9rem;
    align-items: flex-end;height: 4.3rem;

}

.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;

}

.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: lightgray;

}

::placeholder{
    color: lightgray;

}
.btn-j{
    background-color:rgb(223, 128, 12);
    color: white;
    
}

